<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<main>

    {% block content %}
    {% endblock %}
</main>

</body>

</html>